<!doctype html>
</html lang="en">

  <head>
    {% block header %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='style.css') }}">
  </head>

  <body>
   <h1>Web Service Twitter - Trabajo Practico</h1>
     {% if g.user %}
     <a href="{{ url_for('logout') }}" style="float: left;"><img src="{{
	   url_for('static', filename='sign-out.png') }}" alt="sign out"></a>
     {% else %}
     <a href="{{ url_for('login') }}" style="float: left;"><img src="{{
	   url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
     {% endif %}

     <div style="width: 500px;padding-left: 200px;">
       {% with messages = get_flashed_messages() %}
        {% if messages %}
           {% for message in messages %}
              {{ message }}
           {% endfor %}
        {% endif %}
       {% endwith %}
     </div>
     
  
   {% block body %}{% endblock %}
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>

</html>
